@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #2D4944!important;
}

.dark-drop-shadow {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
}
